* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style for the main container, that holds the entire app. */
.main {
    height: 97%;
    width: 950px;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

/* The containers which contain the items list and the image and the tile. */
.container {
    height: 100%;
}

/* The container which contains all the list items. */
.items-container {
    overflow: scroll;                                 /* In Case the number of items exceed the size of the container. */
    width: 300px;
    margin-right: 10px;
    max-height: 93%;
}

/* The container that contains the main image and the main image title. */
.img-title-container {
    width: 500px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* The list which contains all the list items. */
.items-list {    
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

/* Each list item which holds and image and its corresponding title. */
.list-item {  
    transition: all;
    transition-duration: 0.25s;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    justify-content: space-between;
    cursor: pointer;
}

/* Images in each list item. */
.list-img {
    border-radius: 5px;
    height: 75%;
    width: 15%;
}

/* Title of each list image. */
.list-title {
    height: 75%;
    width: 81%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

/* Class which will be added to an item when it is selected. */
.active {
    color: #fff;
    background-color: #035ecf;
}

/* The container which holds the main image. */
.image-container {
    height: 93%;
}

/* The container which holds the main title. */
.title-container {
    height: 7%;
}

/* The main title. */
.main-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
    height: 100%;
    width: 100%;
    padding:  5px 0;
    font-size: 16px;
    resize: none;
    color: gray;
    background-color:white;
}

/* The main image. */
.main-image {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}