* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}
/* Styling for the main container, that holds the entire app */

.main {
    height: 92.5%;
    width: 950px;
    border: 3px solid; 
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

/* The containers which contain the items list and the image and the tile */

.container {
    height: 100%;
}

/* The container which contains all the list items */

.items-container {
    border: 5px solid brown; 
    overflow: scroll; /* In Case the number of items exceed the size of the container */
    width: 300px;
    margin-right: 12.5px;
}


/* The container that contains the main image and the main image title */

.img-title-container {
    border: 5px solid gray; 
    width: 550px;
    margin-left: 12.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* The list which contains all the list items */

.items-list {    
    list-style: none;
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Each list item which holds and image and its corresponding title */

.list-item {  
    /* border: 2px solid yellow; */
    transition: all;
    transition-duration: 0.25s;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    justify-content: space-between;
    cursor: pointer;
    /* margin-bottom: .5rem; */

}

/* Images in each list item */

.list-img {
    border-radius: 5px;
    height: 75%;
    width: 15%;
}

/* Title of each list image */

.list-title {
    height: 75%;
    width: 81%;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}

/* Class which will be added to an item when it is selected */

.active {
    color: #fff;
    background-color: #035ecf;
}

/* The container which holds the main image */

.image-container {
    height: 94%;
}

/* The container which holds the main title */

.title-container {
    height: 5%;
}

/* The main title */

.main-title {
    text-align: center;
    border: none;
    color: rgb(135, 135, 135);
    height: 100%;
    width: 100%;
    padding:  0 .5rem;
    font-size: 14px;
}

/* The main image */

.main-image {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}